@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root {
  --fondo: #E5E5E5;
  --textoNormal: #343A40;
  --azulOscuro: #0A3871;
  --grisClaro: #D8DFE8;
  --textoClaro: #495057;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: var(--fondo);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  gap: 2rem;
}

header h1 {
  color: var(--azulOscuro);
  font-size: 3.5rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
}

.Encriptado {
  display: flex;
  flex-direction: column;
  padding: 5rem 2.5rem 4.5rem 5rem;
}

.Desencriptado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5rem;
  width: 30%;
  padding: 2rem;
  background: white;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}


textarea {
  border-style: none;
  outline: none;
  resize: none;
  overflow: auto;
}

.inputTexto {
  background: none;
  color: var(--azulOscuro);
  font-size: 2rem;
}

.mensaje {
  background-color: none;
  background-image: url("/Imagen/Muñeco.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: top 50% left 50%;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}

.Desencriptado h2 {
  color: var(--textoNormal);
  text-align: center;
  font-weight: 600;
}

.textoAyudaDesencriptado {
  padding: 1rem;
  color: var(--textoNormal);
  text-align: center;
}

.advertencia {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.75em;
  padding: 1rem 0rem;
}

.advertencia p {
  color: var(--textoClaro);
}

.iconoExclamacion {
  padding: 0.25rem;
}

.botones {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.botonEncriptar {
  color: white;
  background-color: var(--azulOscuro);
}

.botonEncriptar:hover {
  background-color: #072B61;
}

.botonEncriptar:active {
  font-weight: bold;
}

.botonDesencriptar {
  color: var(--azulOscuro);
  background-color: white;
}

.botonDesencriptar:hover,
.botonCopiar:hover {
  background-color: var(--grisClaro);
}

.botonDesencriptar:active,
.botonCopiar:active {
  color: #343A40;
  border-color: #343A40;
  font-weight: bold;
}

.botonCopiar {
  color: var(--azulOscuro);
  background-color: white;
}

.botonEncriptar,
.botonDesencriptar {
  width: 50%;
  padding: 2rem;
  border-radius: 1.5rem;
  border: 1px solid var(--azulOscuro);
}

.botonCopiar {
  width: 100%;
  padding: 2rem;
  border-radius: 1.5rem;
  border: 1px solid var(--azulOscuro);
}

footer {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: var(--azulOscuro);
  color: white;
  box-shadow: 0px 0px 32px 10px rgba(0, 0, 0, 0.20);
}

footer h2 {
  font-size: 1rem;
  font-weight: 400;
}

.imagenPerfil img {
  width: 5rem;
  margin: 1rem;
  border: 2px solid white;
  border-radius: 50%;
}

.infoLinkedin {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.infoLinkedin img {
  width: auto;
  padding: 0 0.75rem;
}

.infoLinkedin a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

.infoLinkedin a:hover {
  font-size: 105%
}

.infoLinkedin a:visited {
  color: white;
  text-decoration: none;
}

/*Celular*/
@media screen and (max-width:375px) {

  header {
    justify-content: center;
    align-items: center;
  }

  header h1 {
    font-size: 2rem;
  }

  main {
    flex-direction: column;
  }

  .Encriptado {
    width: 100%;
    padding: 1rem;
  }

  .Desencriptado {
    width: auto;
    padding: 1rem;
  }

  .mensaje {
    background-image: none;
    width: auto;
  }

  .botones {
    flex-direction: column;
    align-items: center;
  }

  .botonEncriptar,
  .botonDesencriptar {
    width: 100%;
    padding: 2rem;
    border-radius: 1.5rem;
    border: 1px solid var(--azulOscuro);
  }

}

/*Tablet*/
@media screen and (max-width:768px) and (min-width:376px) {
  main {
    flex-direction: column;
  }

  header {
    align-items: flex-end;
  }

  header h1 {
    font-size: 2rem;
  }

  .Encriptado {
    width: 100%;
    padding: 2rem;
  }

  .Desencriptado {
    width: auto;
    padding: 2rem;
  }

  .mensaje {
    background-image: none;
    width: 100%;
    height: 100%;
  }
}